
@{
    ViewBag.Title = "Trang chủ";
    Layout = null;
}
@using PagedList
@using PagedList.Mvc
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @Html.Partial("nav_Trang_chu")
    <!-- HERO / BANNER -->
    <section class="hero">

        <div class="hero-left">
            <img src="@Url.Content("~/Img/Gemini_Generated_Image_xdycdaxdycdaxdyc-removebg-preview (1).png")" alt="Học tiếng Anh online">
        </div>

        <div class="hero-right">


            <img src="@Url.Content("~/Img/Gemini_Generated_Image_khrd5ikhrd5ikhrd-removebg-preview.png")" style="width :420px">
            <h1>
            </h1>

            <button class="start-btn" onclick="location.href='@Url.Action("khoadaotao","Page")'">
                Chọn khóa đào tạo
            </button>
            <button class="start-btn" onclick="location.href='@Url.Action("thong_tin_bai_test","bai_test")'">
                Bắt đầu làm bài test
            </button>
            @if (Session["TenDN"] != null)
            {
                <button class="start-btn" onclick="location.href='@Url.Action("TrangMuaVIP","Page")'">
                    Nâng cấp tài khoản
                </button>
            }

        </div>

    </section>
    <div class="gioi_thieu_khoa_hoc">
        <p>
            Giới thiệu

            Trang web học tiếng Anh của chúng tôi được tạo ra với mục tiêu giúp người học tiếp cận tiếng Anh một cách dễ dàng và thú vị. Thay vì chỉ học lý thuyết khô khan, người dùng có thể vừa học vừa chơi thông qua các bài quiz, trò chơi từ vựng và các bài tập tương tác.

            Trang web cung cấp nhiều nội dung như bài test từ vựng, bài tập ngữ pháp và trò chơi tiếng Anh, giúp người học ghi nhớ kiến thức nhanh hơn và luyện tập thường xuyên. Với giao diện đơn giản, dễ sử dụng, người học ở mọi trình độ đều có thể tham gia.

            Chúng tôi mong muốn tạo ra một môi trường học tập vui vẻ, hiệu quả và dễ tiếp cận, giúp mọi người cải thiện kỹ năng tiếng Anh mỗi ngày.
        </p>
    </div>
    <div class="gioi_thieu_cac_uu_dai">

        @Html.Partial("Gioi_Thieu")

    </div>

    <div class="testimonials-section" id="khu-vuc-binh-luan">


        @Html.Partial("Binh_Luan")
    </div>

    <footer class="footer">

        @Html.Partial("Footer")
    </footer>
</body>
</html>

